/**
 * Tables
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width:100%;
  margin-bottom:10px;
}
table caption {
  font-size:2.0rem;
  margin:20px auto;
}
tbody {
  border-top: 1px solid #444444;
}
tr.even,
tr.odd {
  background-color: transparent;
  border:none;
  padding: 0;
}

th,
td {
  padding: 5px 10px;
  text-align: left;
  border-color: #e1e1e1;
  border-width: 0 0 1px 0;
  border-style:solid;
}
table.sticky-header {
  background:#000;
}
th, th a {
  font-size:1.2rem;
  text-transform:uppercase;
  border-color:#666;
}

tbody tr:hover{
  background-color:rgba(0,0,0,.25); /*#f6e58d;*/
}
tbody tr:hover td {
  color:#DDDDDD;
}




th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}

